<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Indícios de Fraude</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let avaliacao of avaliacoes" text-wrap>
    <ion-avatar slot="start">
      <img src="../../assets/img/no.png" alt="Avaliacao Negativa" />
    </ion-avatar>
    <ion-label text-wrap>
      <h2>{{ avaliacao.compra.produto}}</h2>
      <h3>{{ avaliacao.compra.municipio }} - {{ avaliacao.compra.uf }}</h3>
      <p>Compra realizada em {{ avaliacao.compra.ano }}, de {{ avaliacao.compra.quantidade}} {{ avaliacao.compra.unidade_medida }} por {{ avaliacao.compra.valor_unitario | currency:'BRL':true}} cada um</p>
    </ion-label>
  </ion-item>

</ion-content>
