<ion-content scroll="false">
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-subtitle>TCC - Sistemas de Informação</ion-card-subtitle>
      <ion-card-title>Merenda Democrática</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="login()">

        <ion-item>
          <ion-label position="stacked">Email<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required [(ngModel)]="email" name="email" type="text"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="stacked">Senha<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required [(ngModel)]="senha" name="senha" type="password"></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="login-button">ENTRAR</ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
