<ion-content scroll="false">
  <ion-card class="registro-card">
    <ion-card-header>
      <ion-card-subtitle>Registro</ion-card-subtitle>
      <ion-card-title>Merenda Democrática</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="registro()">

        <ion-item>
          <ion-label position="stacked">Nome<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required [(ngModel)]="usuario.nome" name="nome" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Login<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required [(ngModel)]="usuario.login" name="login" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Email<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required [(ngModel)]="usuario.email" name="email" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Senha<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required [(ngModel)]="usuario.senha" min="6" name="senha" placeholder="Mínimo 6 caracteres" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Telefone<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [(ngModel)]="usuario.telefone" name="telefone" type="number"></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="registro-button">CRIAR CONTA</ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
